BOT_TOKEN=your_telegram_bot_token
CHANNEL_ID=@your_channel_name_or_id
ADMIN_ID=your_telegram_user_id
CHANNEL_LINK=https://t.me/your_channel
TELEGRAM_SOURCES=channel1,channel2
POST_INTERVAL_HOURS=2
FETCH_LIMIT=30
DATABASE_PATH=data/jokes.db
HTTP_TIMEOUT=20
YOUTUBE_API_KEY=your_youtube_api_key
YOUTUBE_CHANNEL_ID=your_youtube_channel_id
YOUTUBE_CLIENT_ID=your_oauth_client_id
YOUTUBE_CLIENT_SECRET=your_oauth_client_secret
YOUTUBE_REFRESH_TOKEN=your_oauth_refresh_token
